.actions {
    margin-top: 10px !important;
}

.form-group #csv {
    margin-bottom: 5px;
    padding-bottom: 5px;
    min-height: 50px;
    background-color: transparent;
    width: 600px;
    margin-right: 10px;
}

.form-group #btn_csv {
    margin-top: -5px;
    margin-left: 15px
}

.form-group .input-expand {
    width: 300px;
    min-height: 50px;
    margin-bottom: 5px;
}

.form-group .input-expand-sm {
    width: 300px;
    margin-bottom: 5px;
}

.form-group .input-expand-wd {
    width: 485px;
    margin-bottom: 5px;
}